<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title><%=book.title%></title>
  </head>
  <body>
    <nav class="nav p-2 bg-light">
      <a class="nav-link mr-auto" href="/">Node Booklist</a>
      <%for(let nav of navigation){%>
      <a class="nav-link mr-2" href="<%=nav.link%>"><%=nav.title%></a>
      <%}%>
      <a class="nav-link mr-2" href="/auth/logout">Log Out</a>
    </nav>

    <section class="container mt-2 mb-3">
      <h1>Library</h1>
      <ul class="list-group mt-3">
        <li class="list-group-item d-flex justify-content-between">
          <div class="book">
            <h2 class="book-title text-dark"><%=book.title%></h2>
            <p class="book-author text-secondary"><%=book.author%></p>
          </div>
        </li>
      </ul>
    </section>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
